<a href="/users/login">Employer Login</a> | <a href="/drivers/login">Driver Login</a><br>
<a href="/users/register">New Employer</a> | <a href="/drivers/signup">New Driver</a>

<footer><p text-color="blue">&copy 2020 MyHaul by Ian Marrs </p></footer>